main {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (min-width: 700px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    header h1 {
    font-size: 2.2rem;
    }

    main h2 {
    font-size: 1.8rem;
    }

    figure {
    transition: transform 0.3s ease;
    }

    figure:hover {
    transform: scale(1.03);
    }

    #menuButton {
        display: none;
    }

    #navMenu {
        display: block;
    }
}